<h3>Products</h3>
<% if admin %>
  <h4><%= link_to "Add a product to the list", new_product_path %></h4>
<% end %>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4">
      <h4><%= link_to product.name, product_path(product), remote: true %></h4>
      <div id="product_detail_<%= product.id %>" hidden>
        <p><%= product.description %></p><br><img src="<%= product.image %>">
      </div>
      <p><%= number_to_currency product.price %></p>
      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, input_html: { min: 0 }, required: true %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
      <% end %>
      <% if admin %>
        <h5><%= link_to "Edit Product", edit_product_path(product) %></h5>
        <h5><%= link_to "Delete Product", product_path(product), :data => {:confirm => "You sure?", :method => "delete"} %></h5>
      <% end %>
    </div>
  <% end %>
</div>
</div>
